body {
	font-family: Arial;
}

#container{
	
}

#header{
	
}

#left{
	float: left;
	width: 33%;
}

#mid{
	text-align: center;
	float: left;
	width: 33%;
}

#right{
	margin-top: 5px;
	margin-left: -1%;
	height: 80px;
	float: left;
	width: 33%;
	text-align: right;
}

.btn{
	border: 1px solid #2c3e50;
	color: #2c3e50;
	background: #2980b9;
	cursor: pointer;
	transition: 0.8s;
}

.btn:hover{
	color: #fff;
}

#content{
	clear: both;
	background: #1abc9c;
}

#main{
	float: left;
}

#side{
	float: right;
}


