body {
	font-family: Arial;
}

#container{
	width: 100%;
	position: relative;	
}

hr{
	border: 3px solid green;
}
#header{
	background: #2ecc71;
}

#left{
	float: left;
	width: 33%;
}

#mid{
	text-align: center;
	float: left;
	width: 33%;
}

#right{
	margin-top: 5px;
	margin-left: -1%;
	height: 80px;
	float: left;
	width: 33%;
	text-align: right;
}

.btn{
	border: 1px solid #2c3e50;
	color: #2c3e50;
	background: #2980b9;
	cursor: pointer;
	transition: 0.8s;
}

.btn:hover{
	color: #fff;
}

#content{
	clear: both;
	background: #1abc9c;
	height: 1080px;
}

#side{
	background: #f1c40f;
	float: right;
	min-width: 300px;
	text-align: center;
}

#main{
	padding-left: 20%;
	text-align: center;
	float: left;
}

.vl {
	border-left: 6px solid green;
	height: 1080px;
	float: left;
}

@media (max-width: 690px){
  #side {
    float: clear;
    width: 100%;
    height: 400px;
  }
  #main {
    padding-left: 23%;
	padding-right: 23%;
    margin-bottom: 100px;
  }
  .vl {
    display: none;
  }
  img{
	max-width: 100%;
    height: auto;
  }
  iframe{
	max-width: 100%;
    height: auto;  
  }
  input{
	max-width: 100%;
    height: auto;  	  
  }
}